<div class="set-height center-content">
<!--  <mat-grid-list cols="2">-->
<!--    <mat-grid-tile colspan="2">-->
<!--      <mat-card-title class="center-content">-->
<!--        Настройка хронометража-->
<!--      </mat-card-title>-->
<!--      <mat-card-subtitle>-->
<!--        Управление заплывами-->
<!--      </mat-card-subtitle>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
  <mat-card>
    <mat-card-title class="center-content">
      Настройка хронометража
    </mat-card-title>
    <mat-card-content>
      <div>
        <mat-card-subtitle style="margin-top: 5%">
          Создание заплывов
        </mat-card-subtitle>
        <form [formGroup]="CreatedEvent" (ngSubmit)="addEvent()">
          <section>
            <mat-form-field [formGroup]="CreatedEvent">
              <mat-label>Название заплыва</mat-label>
              <input matInput formControlName="name">
              <mat-hint>Пример: "1-й заплыв"</mat-hint>
              <mat-error>Обязательное поле</mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field [formGroup]="CreatedEvent">
              <mat-label>Описание заплыва</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-hint>Пример: "Мужчины - 50 метров - Брасс"</mat-hint>
              <mat-error>Обязательное поле</mat-error>
            </mat-form-field>
          </section>
          <section>
            <button style="margin-top: 5%" mat-raised-button color="primary" type="submit">Создать</button>
            <mat-hint style="margin-left: 3%" *ngIf="eventAddedStatus">Заплыв создан</mat-hint>
          </section>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
