.set-sizes-panel {
  min-width: 50vh;
  min-height: 40vh;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-height {
  height: 91.5vh;
}
.spacer {
  flex: 1 1 auto;
}
.button-size {
  width: 30vw;
  height: 20vh;
}
