<mat-drawer-container [hasBackdrop]="true" autosize style="height: 100%">
  <mat-drawer #drawer mode="over">
    <mat-list role="list">
      <div mat-subheader>Номер дорожки</div>
      <mat-form-field>
        <mat-select [(ngModel)]="currentLane">
          <mat-option [value]="1">
            1
          </mat-option>
          <mat-option [value]="2">
            2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content style="font-size: xx-large">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="set-height center-content set-sizes-panel" style="background-color: deepskyblue">
      <mat-card style="text-align: center">
        <mat-card-title class="center-content">
          Дорожка № {{currentLane}}
        </mat-card-title>
        <mat-card-content>
          <section>
            <div class="h1">
              <!-- <div class="digital">{{ getTimeString() }}</div> -->
              <div>
                <!--          {{ getTimeStringMinutes() }}-->
                01
                <span>:</span>
                <!--          {{ getTimeStringSeconds() }}-->
                01
                <span>.</span>
                01
                <!--          {{ getTimeStringMilliseconds() }}-->
              </div>
            </div>
            <div>
              <section>
                <button mat-raised-button (click)="onPause()" color="primary">Стоп</button>
              </section>
              <section class="mt-2">
                <button mat-raised-button (click)="onReset()" color="accent">Сбросить</button>
              </section>
              <section class="mt-2">
                <a mat-raised-button color="warn" href="../auth">Выйти</a>
              </section>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
