<!--<mat-drawer-container [hasBackdrop]="true" autosize style="height: 100%">-->
<!--  <mat-drawer #drawer mode="over">-->
<!--    <app-menu></app-menu>-->
<!--  </mat-drawer>-->

<!--  <mat-drawer-content style="font-size: xx-large">-->
<!--    <mat-toolbar color="primary">-->
<!--      <mat-toolbar-row>-->
<!--        <button mat-icon-button (click)="drawer.toggle()">-->
<!--          <mat-icon>menu</mat-icon>-->
<!--        </button>-->
<!--        <span>Табло</span>-->
<!--        <span style="flex: 1 1 auto;"></span>-->
<!--        <mat-icon style="width: 100px; height:100px" svgIcon="logo"></mat-icon>-->
<!--      </mat-toolbar-row>-->
<!--    </mat-toolbar>-->
    <router-outlet></router-outlet>
<!--  </mat-drawer-content>-->

<!--</mat-drawer-container>-->

<!--<app-authorization></app-authorization>-->

