.hide {
  display: none;
}
.set-full-height {
  height: 100vh!important;
}
/*TODO not working, need to fix*/
mat-drawer @media screen and (max-width: 500px){
  min-width: 300px;
}
mat-drawer @media screen and (min-width: 500px){
  min-width: 700px;
}
