.hide {
  display: none;
}
.set-full-height {
  height: 100vh!important;
}
@media screen and (min-width: 500px) {
  mat-drawer {
    width: 30vw;
  }
}
@media screen and (max-width: 500px) {
  mat-drawer {
    width: 70vw;
  }
}
